<footer class="footer d-flex flex-column justify-content-end">
    <div class="container">

        <div class="row align-items-center mb-3">
            <div class="col-md-6 text-md-start text-center">

                <a href="{{ path('app_home') }}" class="footer-link">Accueil</a>
                <a href="{{ path('app_cities') }}" class="footer-link">Villes</a>
                <a href="{{ path('app_streets') }}" class="footer-link">Rues</a>
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <a href="{{ path('app_profil') }}" class="footer-link">Mon profil</a>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('app_admin') }}" class="footer-link">Recherche admin</a>
                    {% endif %}
                {% endif %}
            </div>
            <div class="col-lg-4"></div>
            <div class="col-lg-2 text-md-end text-center">
                © 2024 CityConnect
            </div>
        </div>

        <hr>

        <div class="row mb-3">
            <div class="col-md-6 text-md-start text-center">
            </div>
        </div>
    </div>

</footer>
