{% extends 'layouts/base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}

    <div class="container page-content">
        <div class="row">
            <div class="col-md-12 col-lg-4 mx-lg-auto">

                <h2 class="text-lg-center mb-lg-3">Connectez-vous</h2>
                <p class="text-lg-center mb-lg-5">Vous n'avez pas de compte ? <a href="{{ path('app_register') }}">Inscrivez-vous</a>
                </p>

                <form method="post">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    <div class="form-floating">
                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail"
                               class="form-input form-control" autocomplete="email" required autofocus>
                        <label for="inputEmail" class="form-label">Email</label>
                    </div>

                    <div class="form-floating">
                        <input type="password" name="password" id="inputPassword" class=" form-control"
                               autocomplete="current-password" required>
                        <label for="inputPassword" class="form-label">Mot de passe</label>
                    </div>

                    <div class="remember-forgot mt-lg-4 mb-lg-4">
                        <a href="{{ path('app_forgot_password_request') }}">Mot de passe oublié ?</a>
                    </div>

                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >

                    <div class="row mt-lg-4 mb-lg-3">
                        <div class="col-lg-9 mx-lg-auto">
                            <button class="btn btn-secondary" type="submit">
                                Se connecter
                            </button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>

{% endblock %}
